*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #1e1e1e;
  font-family:sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}
/* main container */
.main-container{
 display: grid;
 max-width: 1200px;
 grid-template-columns: 350px 1fr;
 gap: 40px;
 padding-top: 40px;
 margin: auto;
}
/* sidebar */
.sidebar{
  height: 90vh;
  background: #2a2a2a;
  border-radius: 16px;
  border: 1px solid #3a3a3a;
  padding: 40px;
}

/* profile */
.profile{
  text-align: center;
}
.profile img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
}
.profile h2{
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #e1e1e1;
}
.profile p{
  background-color: #1e1e1e;
  color: #FFBF00;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  border-radius: 8px;
  margin-top: 10px;  
}

/* contact */
.contact{
 margin-top: 30px;
 border-top: 2px solid #3a3a3a;
 padding-top: 30px;
}

.label{
  font-size: 0.8rem;
  color: #a0a0a0;
  font-weight: 500;
}

.value{
  color: #e1e1e1;
  text-decoration: none;
}

.email, .phone{
  margin-bottom: 15px;
}


/* social media */
.social-media{
  margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 30px;
  text-align: center;

}
.social-media img{
  height: 24px;
  width: 24px;
  margin-left: 5px;
  filter: grayscale(1) invert(0.7);
  transition: filter 0.3s ease;

}

.social-media img:hover{
  filter: grayscale(0) invert(0);
}

/* main-content */
.main-content{
  height: 90vh;
  background: #2a2a2a;
   border-radius: 16px;
 border: 1px solid #3a3a3a;
}

